:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --blue-font: #5BAAEC;
    --background-color: #33425B;
}

body {
    background-color: var(--background-color);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.card-image {
    max-width: 100%;
}

.card-blurb {
    max-width: 100%;
}

.half-card-image {
    max-width: 100%;
}

.main-container {
    font-family: Inter;
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    color: var(--white-font);
    background-color: var(--background-color);
    justify-content: center;
    text-align: center;

    grid-template: 
        "ban"
        "sub"
        "c1"
        "c2"
    ;
}

@media (min-width: 50em) {
    .main-container {
        grid-template: 
            "ban ban"
            "sub sub"
            "c1 c2"
        ;

        grid-template-columns: repeat(2, 1fr);
    }
}

#banner {
    grid-area: ban;
    color: var(--blue-font);
    font-size: 2em;
}

#subtitle {
    grid-area: sub;
    color: var(--blue-font);
}

#card1 {
    grid-area: c1;
}

#card2 {
    grid-area: c2;
}
